# Don't lock, because we're a library.
uv.lock

# Don't force a specific python version.
.python-version

test_cache.sqlite

# Python notebook testins
/docs/notebooks/polis-demo-export/

# MkDocs build directory
site/

# Ignore python compilation files.
*.pyc
__pycache__
*.egg-info
.DS_Store

# python-cov
.coverage
